<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :description, :placeholder => "Food allergies and special requests" %>
  </div>
  <div class="field">
    <%= f.hidden_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :starttime %><br>
    <%= f.time_select :starttime %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br>
    <%= f.time_select :endtime %>
  </div>
  <div class="field">
    <%= f.number_field :party, required: true, :placeholder => "Size of dining party" %>
  </div>
  <div class="field">
    <%= f.hidden_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
