<p id="notice"><%= notice %></p>


<div id = "booking_container">
  <p>
    <strong>Restaurant:</strong>
    <%= link_to @booking.restaurant.name,  restaurant_path(@booking.restaurant)%>
  </p>
  
  <p>
    <strong>Day:</strong>
    <%= @booking.date %>
  </p>
  
  <p>
    <strong>Time:</strong>
    <%= @booking.starttime.strftime("%H:%m") %>
  </p>
  
  <p>
    <strong>Size of Booking:</strong>
    <%= @booking.party %>
  </p>
  
  
  <p>
    <strong>Description:</strong>
    <%= @booking.description %>
  </p>
  
  
  <%= link_to 'Edit', edit_booking_path(@booking) %>| <%= link_to 'Destroy', @booking, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>