<%= form_for(@restaurateur) do |f| %>
  <% if @restaurateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurateur.errors.count, "error") %> prohibited this restaurateur from being saved:</h2>

      <ul>
      <% @restaurateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
