<p id="notice"><%= notice %></p>

<p>
  <strong>
    <%= link_to 'List my restaurant', new_restaurant_path  %>
  </strong>

</p>

<p>
  <strong>User:</strong>
  <%= @restaurateur.user.email %>
</p>

<% if can? :manage, Restaurateur %>
  <p>
    <strong>Active:</strong>
    <%= @restaurateur.active %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th> My Restaurants</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td> <%= link_to restaurant.name, restaurant_path(restaurant)  %></td>
      </tr>
    <% end %>

  </tbody>

</table>

<%= link_to 'Edit', edit_restaurateur_path(@restaurateur) %> |
<%= link_to 'Back', restaurateurs_path %>
