<div id = "restaurant_container">
  <%= form_for(@restaurant) do |f| %>
    <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
  
        <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field required">
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true  %>
      <span></span>
    </div>
    <div class="field required">
      <%= f.label :description %><br>
      <%= f.text_area :description, required: true %>
      <span></span>
    </div>
    <div class="field required">
      <%= f.label :address %><br>
      <%= f.text_field :address, required: true %>
      <span></span>
    </div>
    <div class="field">
        <%= f.label :restaurant_image, "Upload an image" %><br/>
        <%= f.file_field :restaurant_image %>
        <span></span>
    </div>
    <div class="field">
      <%= f.label :remote_restaurant_image_url, "Or enter a URL" %>
      <%= f.text_field :remote_restaurant_image_url %>
    </div>
    <div class="field required">
      <%= f.label :category_id, "Select Cuisine Type" %><br>
      <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true, required: true, autofocus: true %>
    </div>
    <div class="field">
      <%= f.hidden_field :restaurateur_id, :value => current_user.try(:restaurateur).id %><br>
    </div>
    <div class="field">
      <%= f.hidden_field :latitude %>
    </div>
    <div class="field">
      <%= f.hidden_field :longitude %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
