<p id="notice"><%= notice %></p>

<h3> <%= @category.name  %></h3>
<%= image_tag @category.category_image.url %>
<% if @category.has_restaurants? %>
  <table class = "table-minimal">
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>Description</th>
  
      </tr>
  
    </thead>
  
    <tbody>
      <% @category.restaurants.each do |restaurant| %>
      <tr>
        <td> <%= link_to restaurant.name, restaurant_path(restaurant)  %></td>
        <td> <%=  truncate(restaurant.description, :length => 65) %> </td>
      </tr>
      <% end %>
  
    </tbody>
  
  </table>

  <% else %>
    <h3>There are no restaurants in this category</h3>
    <% if current_user.restaurateur %>
      <%= link_to 'Add your restaurant', new_restaurant_path  %>
    <% end  %>
<% end %>


<%if can? :update, Category %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>

