
<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <title>Bookatable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
     
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link" id="cursive_logo">
            <% if current_user %>
            <%= link_to 'No Reservations', current_user %>
            <% else %>
            <%= link_to 'No Reservations', categories_path  %>
            <% end %>
          </li>
            <% if current_user %>
            <li class="nav-link"> 
             <%= link_to current_user.username, user_path(current_user)  %>
             <%= link_to "Log out", destroy_user_session_path, method: :delete %> 
           </li>

           <% if current_user.try(:restaurateur) %>
             <li class="nav-link"> <%= link_to 'List my restaurant', new_restaurant_path %></li>
           <% end %>

           <% if current_user.restaurateur.nil? %>
           <li class="nav-link"> <%= link_to 'Become a Restaurateur', new_restaurateur_path  %> </li>
           <% end %>

           <li class="nav-link">
             <%= link_to "Log out", destroy_user_session_path, method: :delete %>
           </li>
    
            <% else %>
              <li class="nav-link">
                <%= link_to "Sign In", new_user_session_path %>
              </li>

              <li class="nav-link">
                <%= link_to "Register", new_user_registration_path %>
              </li>
            <% end %>
            <li class="nav-link">
              <%= link_to 'Browse by Category', categories_path  %>
            </li>
            <li class="nav-link">
              <%= link_to 'All Restaurants', restaurants_path  %>
            </li>

          
        </ul>
      </nav>
    </div>
  </header>
  

<%= yield %>


</body>
</html>